.hero{
   
   position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75% );
    -weblit-mask-image:linear-gradient(to right,transparent,black 75%);
    
   
}
.hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0px; 
   /* add space from bottom */
 
}


.hero-caption p{
    max-width: 700px;
    font-size: 15px;
    margin-bottom: 0px;
}
.hero-btns{
display: flex;
gap: 10px;

}
 .hero-btns .btn img{
    width: 20px;

}  
 .hero-btns .btn{
    border: 0;
    width: 150px;
    outline: 0;
    padding: 6px 18px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    
    border-radius: 4px;
    cursor: pointer ;
} 
.hero-btns .btn .sm-btn{
    background-color: darkcyan;
}
.hero-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6d;
}
.hero-btns .btn:hover{
    background-color: #e8e847;
}
.hero-btns .btn.dark-btn:hover{
    background: #6d6d6e66;
}
.more-card {
    margin-top: 0px;   /* Push cards below hero */
    padding-left: 6%;
}