.player{
    display: flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center;    
    height: 100vh;
    gap: 10px;           
     background: #e74817;
     
}
.player img{
    position: absolute;
    height: 35px;
    top: 15px;
    left: 10px;
     gap: 10px;  
     cursor: pointer;
}
.figure-box {
     border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.player-info{
    display: flex;
    flex-direction: row;
    /* color: rgb(9, 9, 9); */
    color: aliceblue;
    font-family: cursive;
    font-weight: 800;
    justify-content: space-between;
    width: 60%;
}

@media (max-width: 768px) {

    .figure-box{
        height: 640px;
        width: 300px;
    }
    .player-info{
        display: flex;
        flex-direction:column;
        font-size: 15px;
        margin-bottom: 20px;
    }
}