.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 16px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7)10%,transparent);
    z-index: 1;
}
.nav-logo{
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; 
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff416c, #ff4b2b, #ff416c);
  background-size: 40%;
  -webkit-background-clip: text;
    background-clip: text;         
  -webkit-text-fill-color: transparent;
  color: transparent;                   
  animation: gradientMove 3s infinite linear;
  letter-spacing: 1px;
  cursor: pointer;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-left img{
    width: 90px;
}
.nav-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.Navbar_a{
  text-decoration: none;
  color: #e5e5e5;
  cursor: pointer;
}

.nav-left ul li{
    cursor: pointer;
}
.nav-left ul li:hover{
    color: burlywood;
}

.Navbar_a:hover{
   color: burlywood;
}
.nav-right{
     display: flex;
     gap: 20px;
     align-items: center;
}
.nav-right a{
     text-decoration: none;
     color: #e5e5e5;
}
.nav-right .icons{
    width: 20px;
    cursor: pointer;
}
.nav-right .profile{
    border-radius: 2px;
    width: 30px;

}
.nav-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor:pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top:100%;
    right: 0px;
    width: max-content;
    background: #191919; 
    padding: 14px 19px;
    border-radius: 2px;
    z-index: 1;
    display: none;
}
.dropdown p{
   font-size: 13px;
   cursor: pointer; 
}
.nav-profile:hover .dropdown{
    display: block;
}
.nav-dark{
    background-color: #141414;
}
@media (max-width: 768px) {
    .navbar{
        height: 40px;
    }
    .nav-logo{
        font-size: 1rem; 
        font-weight: 300;
        background-size: 20%;
    }
    .nav-left ul li 
    {
        display: none;
    }
    .nav-right{
        font-size: 14px;

    }
    .nav-right .icons{
        width: 13px;
    }
    .nav-right .profile{
        width: 15px;
    }
     .nav-right .drop-icons{
        width: 15px;
     }
}

@media (max-width: 480px) {
    
}